#DB
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_USER_PASSWORD=
DATABASE_NAME=
#APP
APP_PORT=
APP_HOST=
# JWT
JWT_SECRET=
JWT_EXPIRATION=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Security
MAX_VERIFICATION_ATTEMPTS=

NODE_ENV=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
