DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=bmv_dev_user
DATABASE_USER_PASSWORD=kjhdsr7er45gfas7
DATABASE_NAME=bmv_dev
APP_PORT=3000
APP_HOST=localhost

# JWT Authentication Config
JWT_SECRET=please_generate_a_very_long_secure_secret_key_in_production
JWT_EXPIRATION=24h

